<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Algolia with JS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app" class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="form">
                        <input id="actors" class="form-control" name="actors" type="text" v-model="query" @keyup.enter="search">
                    </form>
                </div>
            </div>
            <!-- <input id="typeahead" type="text" v-model="query">

            <div class="results">
                <article v-for="actor in actors">
                    <h2 v-html="actor._highlightResult.name.value"></h2>
                    <h4>{{ actor.rating }}</h4>
                </article>
            </div> -->
        </div>

        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>

        <script>
            new Vue({
                el: '#app',
                data: {
                    actors: [],
                    query: ''
                },
                mounted: function () {
                    this.client = algoliasearch('YGPUMLATKT', 'a80b8f6014fe6015d0c3c0674a7c7cde');
                    this.index = this.client.initIndex('getstarted_actors');

                    $('#actors').autocomplete(null, [
                        {
                            source: $.fn.autocomplete.sources.hits(this.index, { hitsPerPage: 5 }),
                            displayKey: 'name',
                            templates: {
                                suggestion: function (suggestion) {
                                    return suggestion._highlightResult.name.value;
                                }
                            }
                        }
                    ]);
                },
                methods: {
                    search: function () {
                        this.index.search(this.query, function (error, results) {
                            this.actors = results.hits;
                        }.bind(this));
                    }
                }
            });
        </script>
    </body>
</html>
